---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.conf }} • {{ page.date | date: "%b %-d, %Y" }}{% if page.authors %} • {{ page.authors }}{% endif %} {%if page.special %} • {{ page.special }} {% endif %} {%if page.pagespecial %} • {{ page.pagespecial }} {% endif %} {%if page.video_links %} {% for vlink in page.video_links %} • <a href="{{ vlink }}"> Video </a> {% endfor %} {% endif %}</p>
  </header>
    {% if page.pdf %} <a href="{{ page.pdf }}"> [PDF] </a> {% endif %}
    {% if page.link %} <a href="{{ page.link }}"> [Publication Link] </a> {% endif %}
    {% if page.code %} <a href="{{ page.code }}"> [Code] </a> {% endif %}
    {% if page.video %} <a href="{{ page.video }}"> [Video] </a> {% endif %}
  <article class="post-content">
    {{ content }}
  </article>

  {% if page.comments %}
	<div id="disqus_thread"></div>
	    <script type="text/javascript">
		var disqus_shortname = 'pmposts'; // required: replace example with your forum shortname
	        //var disqus_developer = 1; // Comment out when the site is live
		var disqus_identifier = "{{ page.url }}";

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
		    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		    dsq.src = '//' + disqus_short name + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	    </script>
	    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}

</div>
